.navbar .navbar-header img {
        height: 50px;
        width: auto;
        padding: 5px;
}

.navbar .navbar-header img {
        float: left;
        margin-right: 10px;
}
.nav.navbar-brand.centered-navbar-logo-container {
        text-align: center;
        display: block;
        margin: 0 auto;
}
.navbar .centered-navbar-logo {
        width: 200px;
        height: 200px;
}
.navbar .navbar-collapse div.search-friends button {
        background: none;
        border: none;
        margin: 0;
        padding: 6.5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: -38px;
        height: 100%;
        outline: none;
}
/*.navbar .navbar-collapse div.search-friends input[type="text"] {
        padding-left: 30px;
}*/
.navbar .navbar-collapse .logout-container {
        padding-left: 0;
}

#menu div.input-group-addon {
    cursor: pointer;
}

#currentUserName{
    margin-left: -15px;
}

.avatarImage{
    cursor:pointer;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
    position: relative !important; 
}

.caption {
    margin: auto;
    text-align: center;
}

.avatarImage:hover{
        opacity: 0.5;
}

.avatarBox.below-navigation{
        margin-bottom:20px;
}

.container .profile-tabs {
        padding-bottom: 10px;
        color: inherit;
}
.container .profile-tabs li a {
        cursor: pointer;
        color: inherit;
}
.container .profile-tabs .active a {
        border-bottom: lightgreen solid 3px;
        background: none;
        background-color: transparent !important;
        border-radius: 0;
        color: inherit;
}
.container .profile-tabs a:hover,
.container .profile-tabs a:active,
.container .profile-tabs a:focus {
        background: none;
        background-color: #f2f2f2 !important;
        border-bottom: lightgreen solid 3px;
        border-radius: 0;
        color: inherit;

}
.container .profile-tabs .active a:hover,
.container .profile-tabs .active a:active,
.container .profile-tabs .active a:focus{
        color: inherit;
}

.postBox{
        width:auto;
        height:100px;
}

.avatarBox .media-body h4 {
    margin-top: 10px;
    margin-bottom: 2px;
}

.post-content img {
        width: 100%;
}

#editAvatar{
        margin-left:-45px;
        margin-top: 85px;
        display:none;
        position: absolute;
}

#backToTop{
        cursor:pointer;
        height: 50px;
        width: 50px;
        bottom:5px;
        right:10px;
        display:scroll;
        position:fixed;
        opacity:0.3;
}

.seguidores .img-rounded{
    width: 100px; /*Usar Grid!!!*/
}

#backToTop:hover{
        opacity:1;
}
#mainAvatar{
    margin-bottom: 20px;
}

.reactions .modal-body {
    text-align: center;

}

.reactions .thumbnail:active, .reactions .thumbnail:focus {
    text-decoration: none;
/*    border-color: #ddd !important;*/
} 

.reactions .thumbnail {
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
/*    border-color: #dceedd;  escolher a cor da borda */
    cursor: pointer;
    color: #173958
}

.reactions .thumbnail:hover {
    background-color: #f9fff9;
    box-shadow: 0px 0px 5px rgba(52, 158, 26, 0.2);
    border-color: #a8e8b1 !important;
    text-decoration: none;
}

.reactions .thumbnail.active {
    background-color: #eaffea;
    box-shadow: 0px 0px 6px rgba(52, 158, 26, 0.5);
    border-color: #50dc64 !important;
    font-weight: bold;
}

.below-navigation {
    margin-top:70px;
}